// app global css in SCSS form

// custom colors
.text-transparent {
    color: transparent !important;
}
.text-event {
    color: $primary;
}
.bg-event {
    background: $primary;
}
.text-todo {
    color: $secondary;
}
.bg-todo {
    background: $secondary;
}
.text-deadline {
    color: $deadline;
}
.bg-deadline {
    background: $deadline;
}

.strikethrough {
    text-decoration: line-through;
}